/* Start About Us */
.breadcrumb-holder
{
  background-color: #F5F5F5;
}
.breadcrumb
{
  margin: 10px 0;
  margin: 0;
}

.about-us{
    padding: 70px;
}
.about-us h1
{
font-family: 'Cairo', sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 40px;
}
.about-us hr
{
    width: 70%;
}

.about-features
{
    padding: 0 0 70px;
}

.about-features h3
{
   font-family: 'Cairo', sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
}

.about-features p
{
    margin-bottom: 20px;
}

.about-ceo{
   background-color: #EEE;
    padding: 40px;
}
.about-ceo .lead
{
    line-height: 1.8
}
.about-ceo .btn-primary{
    background-color: #333;
    border-color: #333;
}


/* End About Us */

/* Start FAQ Us */

.faq{
    padding: 40px 0;
}


.faq h1{
      font-family: 'Cairo', sans-serif;
      letter-spacing: -3px;
      font-size: 70px;
     font-weight: bold;
}

.faq h1 ~ hr {
    width: 70%;   
}

.faq-questions .panel-heading
{
    padding: 20px 15px;
}
.faq-questions .panel-heading a:after
{ 
    font-family: 'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color:#444;

}
.faq-questions .panel-heading a.collapsed:after
{
    content:"\e080";
    color:#999;
}

.faq-questions span
{
    background-color: #f5f5f5;
    color: #444;
    position: absolute;
    top 15px;
    right: 15px;
}
/* End FAQ Us */