/*****Start Default Theme*****/

/* Active Link*/
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active >a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
    background: #f203ff;
}


.navbar-inverse .navbar-brand span
{
    color: #f203ff;
}



.dropdown-menu
{
    border-top:3px solid #f203ff;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
    background: #f203ff;
  
}


.carousel-indicators .active
{
    
    background: #f203ff;
}

.option-box .color-option
{
 
    border: 4px solid #f203ff;
    
}
.option-box .gear-check
{
   
    background: #f203ff;
          
}

.about h1 span
{
  color: #f203ff;  
    
}

.about h2 span
{
     color: #f203ff; 
}

.testimonuals span
{
    
    color:#f203ff
}


.testimonuals .carousel-indicators li.active
{
  
    border: 3px solid #f203ff;
    
}

.footer h3
{
    color:#f203ff;
  
    
}


.footer .copyright span
{
    color: #f203ff;
}
/*****Start Default Theme*******/